<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Resource</title>
    <link rel="icon" href="data:;base64,=">
    <link rel="stylesheet" href="/css/resource.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Raleway&display=swap" rel="stylesheet"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <body>
    <% include partials/_header %>
  <section class="resource_content">
    <div class="resource_image">
    <a href= "<%= resource.external_url %>">
      <img src= "<%= resource.thumbnail_url %>" target="_blank">
    </a>
  </div>
    <div class="content">
    <header>
      <h1 class="title"> <%= resource.title %> </h1>
  </header>
  <div class ="text">
    <p> <%= resource.description %></p>
  </div>
  </div>
  </section>
  <div class="sub_bar">
    <button type="button" class="btn btn-default btn-lg" id="bookmark">
         <span class="glyphicon glyphicon-bookmark"></span> Bookmark
       </button>
    <span class="rating">
    <button class="fa fa-star"></button>
    <button class="fa fa-star"></button>
    <button class="fa fa-star"></button>
    <button class="fa fa-star"></button>
    <button class="fa fa-star"></button>
  </span>
  </div>
  <div class ="comments">
    <h1> Comments </h1>
    <form name= "comment" action="/resources/<%= resource.id %>" method="POST" class="form-inline">
  	<div class="form-group">
  		<label for="comment" class="control-label"></label>
  		<input type="comment" class="form-control"  name="comment" placeholder="">
  		<button type="submit" class="btn btn-primary">Submit</button>
  	</div>
  </form>
  <p> This is where all the comments will be displayed in a cute lil box and shit </p>
  </div>

  </body>
