<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Resource</title>
    <link rel="icon" href="data:;base64,=">
    <link rel="stylesheet" href="/css/resource.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Raleway&display=swap" rel="stylesheet"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <body>
    <% include partials/_header %>
  <section class="resource_content">

    <section class="resource_image">
    <a href= "<%= resource[0].external_url %>">
      <img src= "<%= resource[0].thumbnail_url %>" target="_blank">
    </a>
  </div>
    <div class="content">
    <header class="title">
      <h1> <%= resource[0].title %> </h1>
  </header>
  <div class ="text">
    <p> <%= resource[0].description %></p>
  </div>
  </div>
  </section>
  <div class="sub_bar">
  <button id="bookmark" type="button" class="btn btn-secondary btn-sm"> Bookmark</button>
    <span class="rating star">
    <button class="fa fa-star first"></button>
    <button class="fa fa-star second"></button>
    <button class="fa fa-star third"></button>
    <button class="fa fa-star four"></button>
    <button class="fa fa-star five"></button>
  </span>
  </div>
  <div>This is the average rating <%= resource.rating%></div>
  <div class ="comments">
    <h1> Comments </h1>
    <form name= "comment" action="/resources/<%= resource[0].id %>/comment" method="POST" class="form-inline">
  	<div class="form-group">
  		<label for="comment" class="control-label"></label>
  		<input type="comment" class="form-control"  name="comment" placeholder="">
  		<button type="submit" action class="btn btn-primary">Submit</button>
    </form>
      <section>
      <% for (let comment of resource) { %>
        <% if (comment.content !== null || comment.content !== undefined) { %>
          <p><%= comment.content %> created by <%= comment.full_name %> </p>
          <% } %>
          <% } %>
        </section>
  	</div>
  </div>

  </body>
